# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
sandbox.ts

# dependencies
node_modules
/.pnp
.pnp.js
.eslintcache


# testing
/coverage

# /public/sitemap.xml
# /src/data/*

# next.js
.next/
out/
sandbox.js
vendor

# production
/build
/docs
!/src/docs/*

# misc
.DS_Store
*.pem
*.cer

# debug
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# Local Netlify folder
.netlify

tsconfig.tsbuildinfo
